# Muon Separator data exploration

In this notebook we explore the voltage signal. This data was sampled with the frequencey at 1000Hz and the number of elements at 100 so the DAQ sent new information to the IOC every 0.1 seconds.

In [1]:
import pandas as pd
import os
import src.data_processing as dp

The raw data take the following form:
    - Column 0: Time since EPOCH the reading was taken.
    - Column 1-100: Data from the `DAQ:_RAW` record. The readings are the DAQ voltage readings. These readings were requested every 0.05 seconds by the python script collecting the data from the IOC.

In [2]:
raw = pd.read_csv("muon_results.csv", nrows=100000, header=None)

In [3]:
raw = dp.set_columns(raw)

We now remove the duplicated rows.

In [4]:
signal = dp.remove_duplicates(raw)

So we have eliminated the duplicates from the raw data. Now lets tidy up signal data.

In [5]:
signal.head()

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Time,,,,,,,,,,,,,,,,,,,,,
2018-09-21 16:56:48.930999994,4.518552,4.450329,4.418448,4.399958,4.232905,4.364889,4.349268,4.384018,4.372859,4.489223,...,4.488585,4.583588,4.619294,4.657232,4.733744,4.664564,4.699314,4.683055,4.667433,4.580400
2018-09-21 16:56:49.041000128,4.662333,4.594428,4.530986,4.521740,4.437258,4.376048,4.420680,4.308780,4.335241,4.349268,...,4.338110,4.443634,4.479021,4.523972,4.572749,4.621207,4.601122,4.675722,4.678910,4.640973
2018-09-21 16:56:49.367999792,4.574343,4.545651,4.414623,4.446503,4.410478,4.276900,4.364252,4.322807,4.329821,4.408565,...,4.426418,4.487310,4.581038,4.601760,4.649262,4.719398,4.696445,4.677954,4.710791,4.597616
2018-09-21 16:56:49.640000105,4.467225,4.557128,4.540231,4.637466,4.605267,4.711109,4.667433,4.705371,4.678273,4.630452,...,4.609730,4.495280,4.479658,4.398364,4.403146,4.286783,4.359789,4.301766,4.342573,4.410478
2018-09-21 16:56:49.912999868,4.386568,4.472645,4.553302,4.616744,4.628539,4.760205,4.666477,4.698039,4.673172,4.654681,...,4.613875,4.534811,4.435664,4.408565,4.401552,4.286145,4.342892,4.349268,4.333966,4.378279

In [6]:
signal.shape

(19022, 100)

Now we write this converted data to

In [7]:
signal.to_csv("signal_data.csv")